@import "swiper";

:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-disabled {
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;

  .lightbox-wrapper {
    height: 100%;

    .lightbox {
      height: 100%;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-slider {
  width: 100%;
}

.slider-thumb {
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
